{{> head}}

{{> navbar}}
<div class="row">
  <div class="col-8">
    <h1>Texto Bonito</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia vitae rerum ullam nisi aliquid odio omnis esse
      corporis repellendus voluptas praesentium, nobis consequatur voluptatem debitis impedit laudantium et pariatur
      itaque.</p>
  </div>
  <div class="col-4">
    <img src="assets/img/imagen.png" alt="" class="img-thumbnail">
  </div>
</div>

{{> footer}}